@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sofia Sans Condensed", sans-serif;
}

body {
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
}

.title {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 46px;
}

.container {
    margin: 0 15px;
    max-width: 800px;
    height: 500px;
    background: #fff;
    position: relative;
}

.content {
    padding: 0 30px;
}

.question {
    padding: 30px 0;
    font-size: 46px;
}

.answer {
    margin: 20px 0;
    font-size: 24px;
}

.submit {
    font-size: 32px;
    background-color: turquoise;
    color: black;
    border: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100px;
    cursor: pointer;
}

.result {
    display: none;
    padding: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 32px;
}

.result h1 {
    font-size: 48px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.play {
    font-size: 36px;
    border: none;
    background-color: teal;
    color: white;
    padding: 12px 28px;
    cursor: pointer;
}

@media screen and (max-width: 662px) {
    .container {
        height: 60vh;
    }
}

@media screen and (max-width: 512px) {
    .container {
        height: 70vh;
    }
}

@media screen and (max-width: 380px) {
    .container {
        height: 80vh;
    }
}
